@import "tailwindcss";

:root {
  --background: #F9F9F6;
  --foreground: #101010;
  --secondary: #5C5C5C;
  --border: #E5E5DF;
  --accent: #3A5CCC;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-secondary: var(--secondary);
  --color-border: var(--border);
  --color-accent: var(--accent);
  --font-sans: 'Satoshi', sans-serif;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}